// vars
$white: #ffffff;
$blue: #ddedf3;
$black: #333333;

// layout
@import "_misc/normalize";
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/adjustment";

// styles
@import "sections/header";
@import "sections/first";
@import "sections/order";
@import "sections/object";
@import "sections/price";
@import "sections/about";
@import "sections/service";
@import "sections/equipment";
@import "sections/report";
@import "sections/questions";
@import "sections/maps";
@import "sections/footer";



 